.hooper-pagination {
  position: absolute;
  bottom: -70px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  padding: 5px 10px;
}

@media (min-width: 1024px) {
  .hooper-pagination {
    bottom: -28px;
  }
}

.hooper-indicators {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hooper-indicator:hover,
.hooper-indicator.is-active {
  background-color: var(--color-main);
}
.hooper-indicator.is-active {
  transform: scale(1.3);
}
.hooper-indicator {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: none;
  padding: 0;
  background-color: var(--color-06);
  cursor: pointer;
}
.hooper-pagination.is-vertical {
  bottom: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hooper-pagination.is-vertical .hooper-indicators {
  flex-direction: column;
}
.hooper-pagination.is-vertical .hooper-indicator {
  width: 6px;
}
